import library

*   csv และ pandas ใช้ในการอ่านข้อมูลและแสดงข้อมูลในไฟล์csv
*   word_tokenize เพื่อทำ word token

In [293]:
import csv
import pandas as pd
from nltk.tokenize import word_tokenize

In [294]:
import pandas as pd
#import io
 
df = pd.read_csv('comic_end.csv')
df

     Unnamed: 0                                              comic
0             0  ['Super', 'Lovers', 'Haru', 'visit', 'Canada',...
1             1  ['Steel', 'Ball', 'Run', 'basically', 'another...
2             2  ['Tokyo', 'Ghoul', 'Strange', 'murder', 'happe...
3             3  ['Doctor', 'Elise', 'The', 'Royal', 'Lady', 'w...
4             4  ['Tough', 'mixed', 'martial', 'art', 'fighting...
..          ...                                                ...
195         195  ['The', 'Golden', 'Haired', 'Elementalist', 't...
196         196  ['My', 'Girlfriend', 'is', 'a', 'Zombie', 'Fac...
197         197  ['The', 'Villainess', 'Is', 'a', 'Marionette',...
198         198  ['Karakai', 'Jouzu', 'no', 'Moto', 'Takagi', '...
199         199  ['The', 'Crazy', 'Adventures', 'of', 'Mystical...

[200 rows x 2 columns]

อ่านข้อมูลจากcsv แล้วนำมาเก็บในตัวแปร the_comic

In [295]:
filename = 'comic_end.csv'
the_comic = []

with open(filename, 'r') as csvfile:
    datareader = csv.reader(csvfile)

    for column in datareader: 
        the_comic.append(column[1])

ลบcolumn headออก

In [296]:
the_comics = the_comic[1:]

# คำนวณ WEIGHT = TF * IDF
การทำ term frequency — inverse document frequency หรือ TF-IDF
เราจะคำนวณโดยใช้ TfidfVectorizer จาก sklearn library

In [297]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
doc = vectorizer.fit_transform(the_comics)

ใช้Pandas DataFrame และget_feature_names_out เพื่อแสดงค่าweightออกมาหลายๆrow

In [298]:
doc_1 = doc
df1 = pd.DataFrame(doc_1.toarray(), columns=vectorizer.get_feature_names_out())

df1

,000,05,10,100,10th,11th,12,12th,15,16,...,yuzu,zack,zelleine,zen,zero,zheng,zhou,zombie,zunousen,état
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.530765,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

# QUERY

ในขั้นตอนถัดไปจะเป็นการทำ(Query)

*   word token
*   stopword
*   ทำเป็นรากศัพท์ โดยใช้ Lemmatization (สนใจไวยกรณ์)
*   คำนวณค่า WEIGHT = TF * IDF
*   คำนวณค่า Cosine Similarity
*   แสดงTop Rankจากค่า Cosine Similarity

import library nltk และdownload 

*   stopwords ใชในการทำstopword
*   wordnet ใชในการทำlemma

In [299]:
import nltk
#import pickle

#nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

สร้างฟังก์ชันเพื่อเอาไว้ทำQuery -> Word Token

In [300]:
def get_token(doc_text):
  tokenizer = nltk.RegexpTokenizer("[\w']+")
  tokens = tokenizer.tokenize(doc_text)
  return tokens

สร้างฟังก์ชันเพื่อเอาไว้ทำQuery -> Stop Word

In [301]:
stopword=set(stopwords.words('english'))
def remove_stopword(doc_text):
  cleaned_text=[]
  for words in doc_text:
    if words not in stopword:
      cleaned_text.append(words)
  return cleaned_text

สร้างฟังก์ชันเพื่อเอาไว้ทำQuery -> Lemma

In [302]:
def get_lemma(token_list):
  lem = nltk.stem.WordNetLemmatizer()
  lemma=[]
  for words in token_list:
    lemma.append(lem.lemmatize(words))
  return lemma

# Type Query ❗
ใส่query ที่ต้องการเพื่อทำการสืบค้น

In [303]:
query = 'romantic king and queen'

นำqueryส่งไปฟังก์ชันด้านบน เพื่อทำword token, stopword และlemma

In [304]:
query=get_token(query)
query=remove_stopword(query)
#print(query)
q=[]
for w in get_lemma(query):
  q.append(w)
q=' '.join(q)

Query ที่ผ่านการทำword token, stopword และlemma ✅

In [305]:
print(q)

romantic king queen

# คำนวณ WEIGHT = TF * IDF
ใช้ TfidfVectorizer จาก sklearn library เพื่อคำนวณ WEIGHT = TF * IDF

In [306]:
query_1 = vectorizer.transform([q])
df2 = pd.DataFrame(query_1.toarray(), columns=vectorizer.get_feature_names_out())

df2

,000,05,10,100,10th,11th,12,12th,15,16,...,yuzu,zack,zelleine,zen,zero,zheng,zhou,zombie,zunousen,état
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# คำนวณค่าCosine Similarity 🔎
คำนวณค่าCosine SimilarityจากDoc และ Query โดยจะprintลำดับtop rank ออกมา 10 อันดับ

In [307]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity = cosine_similarity(doc_1,query_1).flatten()
rank = cosine_similarity.argsort()[:-11:-1]
print(rank)

[ 31  77 174  37 173  89 107 175  59  98]

อ่านไฟล์จากCSVที่ยังไม่ได้ทำword token, stopword และlemma เพื่อนำมาแสดงข้อมูล

In [309]:
file = open('comic_data.csv')
#ype(file)
csv_reader = csv.reader(file)

In [310]:
name_of_comic=[]
synopsis=[]
genre=[]
original_type=[]
rating=[]
for row in csv_reader:
  name_of_comic.append(row[1])
  synopsis.append(row[2])
  genre.append(row[3])
  original_type.append(row[4])
  rating.append(row[5])

In [311]:
name_of_comic = name_of_comic[1:]
synopsis = synopsis[1:]
genre = genre[1:]
original_type = original_type[1:]
rating = rating[1:]

สร้างlistมาเก็บค่า เพื่อจะนำออกมาแสดงเป็นpandas dataframe(ทำออกมาเป็นtableให้ดูง่ายขึ้น)

In [312]:
top_rank = []
top_rank2 = []

top_comic1 = []
top_comic2 = []
top_comic3 = []
top_comic4 = []
top_comic5 = []

show_rank = 1
for i in rank:

    data = [the_comics[i]]
    print("อันดับที่", show_rank)
    top_rank2.append(show_rank) 

    print("ค่า cosine similarity = ",cosine_similarity[i])
    show_rank = show_rank + 1
    #print(data)
    print(data)
    print(" ")

    top_rank.append(cosine_similarity[i])
 
    top_comic1.append(name_of_comic[i])
    top_comic2.append(synopsis[i])
    top_comic3.append(genre[i])
    top_comic4.append(original_type[i])
    top_comic5.append(rating[i])
    
#แสดงออกมาประกอบไปด้วย อันดับ ค่าcosine similarity และชื่อเรื่องของcomic

อันดับที่ 1
ค่า cosine similarity =  0.2328183500989961
["['Aire', 'journey', 'find', 'power', 'lost', 'Queen', 'great', 'adventure', 'begin', 'Korean', 'Action', 'Fantasy', 'Adventure']"]

อันดับที่ 2
ค่า cosine similarity =  0.17419920264249433
["['Futari', 'Ashitamo', 'Sorenarini', 'slice', 'life', 'romantic', 'comedy', 'Yuuya', 'Rio', 'young', 'couple', '4', 'year', 'senior', 'started', 'living', 'together', 'Japanese', 'Romance', 'Comedy', 'Slice', 'of', 'Life']"]

อันดับที่ 3
ค่า cosine similarity =  0.13574655430451013
["['Soul', 'Land', 'III', 'The', 'Legend', 'of', 'the', 'Dragon', 'King', 'Following', 'advancement', 'spirit', 'technology', 'human', 'Douluo', 'Continent', 'conquered', 'ocean', 'discovered', 'two', 'new', 'continent', 'hunted', 'spirit', 'master', 'excessively', 'spirit', 'beast', 'nearly', 'extinct', 'countless', 'year', 'lying', 'dormant', 'King', 'Spirit', 'Beasts', 'awakened', 'Great', 'Star', 'Dou', 'Forest', 'lead', 'remaining', 'clansman', 'taking', 'vengeance', 'humanity', 'Tang', 'Wu', 'Lin', 'determined', 'become', 'powerful', 'Spirit', 'Master', 'However', 'awakened', 'martial', 'spirit', 'actually', 'Incomparable', 'talent', 'battle', 'Dragon', 'King', 'Legend', 'Dragon', 'King', 'hereby', 'begin', 'Japanese', 'Action', 'Fantasy', 'Adventure']"]

อันดับที่ 4
ค่า cosine similarity =  0.13053469467412873
["['Yakumo', 'san', 'wa', 'Edzuke', 'ga', 'Shitai', 'Cute', 'romantic', 'comedy', 'manga', 'widow', 'named', 'Shuuko', 'Yakumo', 'enjoys', 'cooking', 'food', 'baseball', 'playing', 'teenager', 'named', 'Shohei', 'Yamato', 'Japanese', 'Romance']"]

อันดับที่ 5
ค่า cosine similarity =  0.1110758393372335
["['Spirit', 'Pet', 'Creation', 'Simulator', 'day', 'meteor', 'streaked', 'across', 'sky', 'evil', 'spirit', 'appeared', 'human', 'world', 'Spirit', 'Pet', 'Creation', 'Simulator', 'bind', 'Ye', 'Qianxing', 'begin', 'journey', 'top', 'world', 'say', 'make', 'contract', 'several', 'powerful', 'spirit', 'pet', 'money', 'talent', 'Haha', 'easily', 'create', 'spirit', 'pet', 'crush', 'Husky', 'Netherworld', 'fire', 'God', 'blood', 'Mystical', 'soul', 'Cerberus', 'soul', 'devourer', 'executioner', 'hell', 'Origin', 'Ancient', 'Tree', 'Life', 'Flower', 'spirit', 'Queen', 'scepter', 'beauty', 'Fairy', 'Queen', 'beautiful', 'captivating', 'help', 'world', 'candling', 'dragon', 'distorts', 'time', 'space', 'fallen', 'angel', 'righteous', 'evil', 'Countless', 'monster', 'created', 'hand', 'Chinese', 'Fantasy']"]

อันดับที่ 6
ค่า cosine similarity =  0.0990550353283418
['[\'A\', \'Breakthrough\', \'Brought\', \'by\', \'Forbidden\', \'Master\', \'and\', \'Disciple\', "hero\'s", \'son\', \'ghost\', \'Demon\', \'King\', \'master\', \'pupil\', \'Eirth\', \'son\', \'hero\', \'defeated\', \'Great\', \'Demon\', \'King\', \'troubled\', \'Always\', \'expected\', \'achieve\', \'great\', \'thing\', \'unable\', \'meet\', \'expectation\', \'matter\', \'effort\', \'put\', \'result\', \'obtains\', \'never\', \'enough\', "I\'m", \'disappointment\', \'compared\', \'father\', \'know\', \'son\', \'hero\', \'Living\', \'every\', \'day\', \'like\', \'Eirth\', \'meet\', \'destiny\', \'room\', \'containing\', \'sword\', \'father\', \'hero\', \'Interesting\', \'train\', \'free\', \'time\', \'Eirth\', \'receives\', \'special\', \'personal\', \'training\', \'Demon\', \'King\', \'get\', \'back\', \'parent\', \'world\', \'coming\', \'day\', \'parent\', \'hero\', \'past\', \'first\', \'love\', \'princess\', \'childhood\', \'friend\', \'genius\', \'era\', \'world\', \'tremble\', \'Japanese\', \'Action\', \'Fantasy\', \'Romance\', \'Drama\', \'Comedy\', \'Adventure\']']

อันดับที่ 7
ค่า cosine similarity =  0.0840558131724131
['[\'Nanatsu\', \'no\', \'Taizai\', \'Seven\', \'Deadly\', \'Sins\', \'group\', \'evil\', \'knight\', \'conspired\', \'overthrow\', \'kingdom\', \'Britannia\', \'said\', \'eradicated\', \'Holy\', \'Knights\', \'although\', \'claim\', \'still\', \'live\', \'Ten\', \'year\', \'later\', \'Holy\', \'Knights\', \'staged\', \'Coup\', "d\'état", \'assassinated\', \'king\', \'becoming\', \'new\', \'tyrannical\', \'ruler\', \'kingdom\', \'Elizabeth\', "king\'s", \'daughter\', \'set\', \'journey\', \'find\', \'Seven\', \'Deadly\', \'Sins\', \'enlist\', \'help\', \'taking\', \'back\', \'kingdom\', \'Japanese\', \'Action\', \'Ecchi\', \'Fantasy\', \'Shounen\', \'Supernatural\', \'Comedy\', \'Adventure\']']

อันดับที่ 8
ค่า cosine similarity =  0.08352355442042483
['[\'One\', \'Piece\', \'Greatness\', \'Glory\', \'Gold\', \'Pirate\', \'Named\', \'Gold\', \'Roger\', \'also\', \'known\', \'Pirate\', \'King\', \'conquered\', \'executed\', \'unknown\', \'reason\', \'died\', \'revealed\', \'last\', \'word\', \'legendary\', \'Treasure\', \'named\', \'One\', \'Piece\', \'hidden\', \'Grand\', \'Line\', \'22\', \'year\', \'Death\', \'Pirate\', \'named\', \'Monkey\', \'Luffy\', \'appeared\', \'one\', \'Goal\', \'Become\', \'Next\', \'Pirate\', \'King\', \'Find\', \'Treasure\', \'One\', \'Piece\', \'Start\', \'Never\', \'Ending\', \'Adventure\', \'Monkey\', \'Luffy\', \'inspired\', \'childhood\', \'hero\', \'Red\', \'Haired\', \'Shanks\', \'set\', \'journey\', \'find\', \'legendary\', \'treasure\', \'One\', \'Piece\', \'become\', \'new\', \'Pirate\', \'King\', \'eating\', "devil\'s", \'fruit\', \'gain\', \'power\', \'accomplish\', \'must\', \'reach\', \'end\', \'deadly\', \'dangerous\', \'ocean\', \'Grand\', \'Line\', \'first\', \'must\', \'find\', \'crew\', \'Japanese\', \'Action\', \'Fantasy\', \'Manga\', \'Shounen\', \'Drama\', \'Comedy\', \'Mystery\', \'Martial\', \'Arts\', \'Adventure\']']

อันดับที่ 9
ค่า cosine similarity =  0.07494528662006646
["['Maou', 'no', 'Musume', 'wa', 'Yasashi', 'Sugiru', 'strongest', 'Demon', 'King', 'Ahriman', 'rule', 'every', 'part', 'world', 'However', 'stop', 'world', 'conquest', 'sudden', 'unexpected', 'reason', 'behind', 'Japanese', 'Fantasy', 'Comedy', 'Slice', 'of', 'Life']"]

อันดับที่ 10
ค่า cosine similarity =  0.06373882008733574
['[\'Girl\', \'the\', "Wild\'s", \'Wilds\', \'high\', \'history\', \'42\', \'year\', \'fighting\', \'specialist\', \'girl\', \'private\', \'highschool\', \'meant\', \'solely\', \'elite\', \'place\', \'Wilds\', \'League\', \'held\', \'popular\', \'event\', \'country\', \'place\', \'world\', \'teenage\', \'girl\', \'brutal\', \'fight\', \'life\', \'year\', \'changed\', \'mixed\', \'gender\', \'school\', \'male\', \'student\', \'Song\', \'Jae\', \'Gu\', \'granted\', \'full\', \'3\', \'year\', \'scholarship\', \'regardless\', \'grade\', \'someone\', \'spend\', \'every\', \'moment\', \'working\', \'taking\', \'care\', \'two\', \'younger\', \'brother\', \'accepted\', \'However\', \'scholarship\', \'granted\', \'sole\', \'condition\', \'leave\', \'meeting\', \'Queen\', \'bloody\', \'champion\', "Wild\'s", \'League\', \'drenching\', \'coffee\', \'calling\', \'Monster\', \'getting\', \'caught\', \'taking\', \'shower\', \'could\', \'prove\', \'fatal\', \'Japanese\', \'Action\', \'Harem\', \'Romance\', \'Shounen\', \'Drama\', \'School\', \'Life\', \'Comedy\', \'Martial\', \'Arts\']']

#SHOW TOP RANK 10 🥇

In [313]:
df = pd.DataFrame(list(zip(top_rank2, top_rank, top_comic1, top_comic2, top_comic3, top_comic4, top_comic5)),
               columns =['Rank','Cosine Similarity', 'Comic Name','Synosis', 'Genre','Original Language', 'Rating'])
df

,Rank,Cosine Similarity,Comic Name,Synosis,Genre,Original Language,Rating
0,1,0.232818,Invitation of Mystic Messenger,...Can you see these messages?While trying to ...,"Romance,Drama",Korean,8.3
1,2,0.174199,Isekai Sniper Is the Female Warrior's Mofumofu...,A gun otaku dies after toying with a homemade ...,"Action,Fantasy,Comedy,Adventure,Isekai",Japanese,8
2,3,0.135747,Jigokuraku,"Gabimaru the Empty, a former ninja assassin kn...","Action,Romance,Drama,Adventure,Historical",Japanese,7.7
3,4,0.130535,Yakumo-san wa Edzuke ga Shitai.,Cute romantic comedy manga about a widow named...,Romance,Japanese,8.3
4,5,0.111076,Journey to the West (Zheng Jian He),The journey to the West was a conspiracy of he...,"Action,Fantasy,Shounen,Adventure",Chinese,7.7
5,6,0.099055,Genius Doctor: Black Belly Miss,"At a young age, she was a genius medical docto...","Fantasy,Romance,Adventure,Historical",Chinese,8
6,7,0.084056,Emperor Ling Tian,"Ling Jian Chen, the master of the God-Emperor ...","Action,Fantasy,Adventure",Chinese,7.9
7,8,0.083524,Gantz,"Somewhere in Tokyo, there is a room. In that r...","Action,Ecchi,Drama,Psychological,Tragedy,Sci f...",Japanese,7.7
8,9,0.074945,Kingdom,Millions of years have passed since the times ...,"Action,Manga,Historical",Japanese,8.1
9,10,0.063739,Boku Girl,Mizuki gets confessed to by a boy in front of ...,"Ecchi,Seinen,Gender Bender",Japanese,7.9